.plans {
  min-height: 700px;
  width: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 40px 20px;
}
.plan_head {
  text-align: center;
  align-items: center;
  justify-content: center;
  float: center;
  padding-bottom: 30px;
}
.plan_1head {
  font-size: 28px;
  font-weight: lighter;
  margin-bottom: 0px;
}
.plan_head .highlight {
  font-size: 28px;
  font-weight: bold;
}
.plans .plan_2ndhead {
  font-size: 18px;
  justify-content: right;
  padding-top: 10px;
  color: rgb(85, 82, 82);
}
.plans .plan_2ndhead1 {
  font-size: 18px;
  line-height: 0px;
  justify-content: right;
  color: rgb(85, 82, 82);
}

.plan_cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: auto auto auto;
}
.plan_cards .card1 {
  border: 3px solid rgb(145, 145, 145);
  min-height: 400px;
  padding: 30px 0;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 40px;
}
.plan_cards .card1:hover {
  border: 3px solid rgb(6, 182, 20);
}
.plan_cards .card1 img {
  height: 30px;
  width: 30px;
}

.plan_cards .card1 .permonth {
  color: rgb(145, 145, 145);
  margin-top: -10px;
  font-size: 14px;
}

.plan_cards .card1 button {
  padding: 18px 45px;
  background-color: rgb(81, 192, 59);
  color: white;
  border: none;
  border-radius: 30px;
  margin: 20px 0 14px 20px;
  font-size: 16px;
  cursor: pointer;
}

.card_list p {
  text-align: left;
  padding: 0 40px;
}

.card_list img {
  float: right;
}
