.app {
  min-height: 100%;
}

/**Counts Page**/
.counts_page {
  height: 500px;
  width: 100%;
}
.counts_page .image {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 100px 0 100px 0px;
  background-size: contain;

  color: white;
  background: linear-gradient(6deg, rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.719)),
    url(./components/Images/3.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 100px;
  text-align: center;
}
.icon1 img {
  height: 50px;
  width: 50px;
}
